<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}!", name: "AshwinTaskTracking" %></h2>
  <p class="lead">A generic task tracking app.</p>
</div>

<div>
    <h3>Log in or sign up: </h3>
    <h4><a href=/users/new>Sign up </a></h4>
    <h4><a href=/users>Log in</a></h4>
</div>

