<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}!", name: "AshwinTaskTracking" %></h2>
  <p class="lead">A generic task tracking app.</p>
</div>

<div class="row marketing">
    <h3>Log in or sign up below.</h3>
    <h4><a href=/users/new>Sign up</a></br></h4>
    <h4><a href=/users>Log in</a></h4>
</div>
