<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}!", name: "AshwinTaskTracking" %></h2>
  <p class="lead">A generic task tracking app.</p>
</div>

<div>
<h2><a href="/tasks">Go to tasks</a></h2>
</div>

