<h1>Profile for: <%= List.first(String.split(@user.name, " ")) %> </h1>

<ul>
  <li>
    <strong>Full Name:</strong>
    <%= @user.name %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>

  <li>
    <strong>Id:</strong>
    <%= @user.id %> - used for assigning tasks
  </li>

  <li>
    <strong>Manager:</strong>
    <%= @user.manager.name %>
  </li>


</ul>

<span><%= link "Back", to: Routes.page_path(@conn, :index) %></span>
